- if current_user.try(:admin?)
  %p
    %strong You is the admin of this site.
  %span All users: #{User.all.count}
  - User.all.each do |user|
    %ul
      %li= user.email
      = link_to "Delete user" , user_path(user), method: :delete, data: { confirm: "Are you sure?" }
  %p All posts: #{Post.all.count}
- else
  %p= current_user.email
= link_to "Create new post", new_post_path
%p Your posts #{current_user.posts.count}
- @posts.each do |post|
  %ul
    %li= link_to post.title, post_path(post)
= will_paginate @posts