- provide(:title, 'Blog')
%form{:action => posts_path, :method => "get"}
  = text_field_tag :search, params[:search], class: "input-xlarge input-search",placeholder: "Search Posts"
  = submit_tag "Search", class: "btn btn-mini", :name => nil
%h1 Latest Posts
.posts
  - @posts.each do |post|
    %h2.posts-h2= link_to post.title, post_path(post)
    %span.created-post= l(post.created_at, format: :created_post)
    %p
      = truncate(post.body.html_safe, length: 300, separator: ' ', escape: false)
      = link_to "Continue",  post_path(post)
    - if current_user.try(:admin?)
      = link_to "Edit", edit_post_path(post)
      = link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }
= will_paginate
