<% provide(:title, 'Blog') %>
<form action="<%= posts_path %>" method="get" >
<%= text_field_tag :search, params[:search], class: "input-xlarge input-search",placeholder: "Search Posts" %>
<%= submit_tag "Search", class: "btn btn-mini", :name => nil %>
</form> 
<h1>Latest Posts</h1>
<span><%= link_to "New post", new_post_path %></span>
  <div class="posts">
  <% @posts.each do |post| %> 
  <h2 class="posts-h2"><%= link_to post.title, post_path(post) %></h2> <span class="created-post"><%= l(post.created_at, format: :created_post) %></span>
  <p><%= truncate(post.body.html_safe, length: 300, separator: ' ', escape: false) %> 
  <%=  link_to "Continue",  post_path(post) %></p>
  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  </div>

  <%= will_paginate %>
