- provide(:title, @post.title) 
.posts
  %h1= @post.title
  %p=  @post.body.html_safe
  = link_to "Back", posts_path
%h2
  %strong Comments
.comments-wrap
  #comments-js= render @post.comments
  - if user_signed_in?
    %h2 Add a comment:
    = form_for([@post, @post.comments.build], remote: true) do |f| 
      %p
        = f.text_area :body, size: "90x5",class: "post-form-comment", id: "com"
      = f.submit "Post comment",  class: "btn"
  - else
    %p
      %strong #{link_to "Sign up", new_user_registration_path } or #{link_to "sign in", new_user_session_path} to leave a comment.